annotated-types==0.7.0
anyio==4.13.0
beautifulsoup4==4.14.3
cachetools==6.2.6
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
click==8.3.3
contourpy==1.3.3
cryptography==48.0.0
curl_cffi==0.13.0
cycler==0.12.1
deprecation==2.1.0
filelock==3.29.0
fonttools==4.62.1
frozendict==2.4.7
fsspec==2026.4.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.11
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.5.0
lightgbm==4.6.0
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mdurl==0.1.2
mmh3==5.2.1
mpmath==1.3.0
multidict==6.7.1
multitasking==0.0.12
networkx==3.6.1
numpy==2.4.3
packaging==26.0
pandas==3.0.1
patsy==1.0.2
peewee==4.0.3
pillow==12.1.1
platformdirs==4.9.4
postgrest==2.30.0
propcache==0.5.2
protobuf==7.34.1
pyarrow==24.0.0
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pyiceberg==0.11.1
PyJWT==2.12.1
pyparsing==3.3.2
pyroaring==1.1.0
python-dateutil==2.9.0.post0
pytz==2026.1.post1
realtime==2.30.0
requests==2.33.0
rich==14.3.4
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
setuptools==81.0.0
six==1.17.0
soupsieve==2.8.3
statsmodels==0.14.6
storage3==2.30.0
StrEnum==0.4.15
strictyaml==1.7.3
supabase==2.30.0
supabase-auth==2.30.0
supabase-functions==2.30.0
sympy==1.14.0
tenacity==9.1.4
threadpoolctl==3.6.0
torch==2.11.0
torchaudio==2.11.0
torchvision==0.26.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
websockets==15.0.1
yarl==1.23.0
yfinance==1.2.0
zstandard==0.25.0
